:root {
    /* default colors */
    --bg-color: #a5c6ca;
    --bg-color__content: #ededed;
    --text-color__default: #1c1c1c;
    --link-color: #313f46;
    --link-color__visited: #2b2633;
    --link-color__hover: #0017c7;
    --link-color__active: #32436c;
    --primary-color: #354f52;
    --text-color__primary: #ededed;
    --shadow-color: rgba(53, 79, 82, 0.4);

    /* header and footer colors */
    --bg-color__menu: #354f52; /* new color #52796f*/
    --text-color__menu: #ededed;
    --text-color__menu--activation: #a5c6ca;
    --text-color__menu--active: #a5c6ca;

    /* grid colors */
    --grid-background: #8ebbb1;

    /* sizes */
    --margin__default: 20px;
    --padding__default: 10px;
    --font-weight__h: 700;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color__default);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    display: table;
    width: 100%;
}

header {
    margin-bottom: var(--margin__default);
    padding: var(--padding__default);
    background-color: var(--bg-color__menu);
}

footer {
    display: table-row;
    padding: var(--padding__default);
    color: var(--text-color__menu);
    background-color: var(--bg-color__menu);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: var(--font-weight__h);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: var(--font-weight__h);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: var(--font-weight__h);
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

th, td {
    border-bottom: 6px solid transparent;
    border-right: 16px solid transparent;
}

/* link style */

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color__visited);
}

a:hover, a:focus {
    text-decoration: none;
    color: var(--link-color__hover);
    transition-duration: 0.5s;
}

a:active {
    color: var(--link-color__active);
    transition: 0.1s;
}

/* button style */

button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--text-color__primary);
    text-decoration: none;
    padding: var(--padding__default);
    border-radius: 10%;
    border-bottom: 2px solid var(--shadow-color);
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 0.5s;
}

button:active {
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.2s;
}

/* header link style */

.navigation-list__item {
    color: var(--text-color__menu);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.navigation-list__item:visited {
    color:var(--text-color__menu);
}

.navigation-list__item:active {
    color: var(--text-color__menu--activation);
}

.navigation-list__item--active {
    text-decoration: none;
    font-weight: var(--font-weight__h);
}

.navigation-list__item--active:visited {
    color: var(--text-color__menu);
}

/* page content style */

.page-content {
    display: inline-block;
    width: 66%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    margin-bottom: var(--margin__default);
    text-align: center;
    background-color: var(--bg-color__content);
    color: var(--text-color);
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    box-shadow: 0px 25px 35px 0px var(--shadow-color);
}

.page-content__item {
    padding-top: 0px;
}

.page-content__item--header {
    margin-top: 30px;
    margin-bottom: 5px;
}

.links {
    margin-top: 2px;
    margin-bottom: 2px;
}

.spacing {
    margin-right: 3px;
}

.mobile-without-zoom {
    display: inline-block;
}

.mobile-with-zoom {
    display: none;
}

.page-content__picture {
    float: left;
    width: 240px;
    height: auto;
    margin-right: var(--margin__default);
    margin-bottom: 10px;
    border-radius: 50%;
}

.page-content__text {
    display: block;
    text-align: left;
}

.about-me {
    list-style-type: none;
    text-align: left;
    margin-top: 0px;
}

#resume {
    display: block;
    width: 135px;
    margin-left: auto;
    margin-right: 10px;
    text-align: end;
}

#mobile-resume {
    display: block;
    text-align: end;
}

.page-content__contact {
    text-align: left;
}

.page-content__contact-item {
    text-align: left;
    margin: 0;
}

h1.page-content__contact-item {
    margin-top: 30px;
}

.hide {
    display: none;
}

/* Contact form start */ 

#contact-text {
    text-align: start;
}

form {
    text-align: start;
    border-radius: 6px;
}

#name, #contact-email, #your-message {
    background-color: var(--bg-color);
    width: 250px;
    max-width: 250px;
}

.submit-button {
    margin-bottom: 10px;
}
/* Contact form end */

/* Flexbox start */
 
* {
    box-sizing: border-box;
}

/* header style */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-header {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border: none;
}

.page-header__item--nav {
    flex-grow: 1;
    text-align: start;
    margin-left: 20px;
    margin-top: 2px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-right: 10px;
}

.link-logo {
    width: 30px;
    height: 30px;
    background: var(--bg-color);
    border-radius: 50%;
}

.page-header__logo {
    height: 70px;
    width: 70px;
}

.logo-desktop {
    text-align: left; /* default */
    margin-top: 5px;
    height: 60px;
}

/* Hamburger menu style */
.mobile {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: var(--primary-color);
    position: relative;
}

/* Hide links inside navigation menu */
.topnav #myLinks {
    display: block;
}

/* Nav menu links */
.topnav a {
    color: var(--text-color__primary);
    margin-top: 3px;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}

.topnav a:hover {
    background: var(--text-color__menu--active);
    color: var(--text-color__default);
}

/* Style the hamburger menu */
.topnav a.icon {
    color: var(--bg-color__content);
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
}

.topnav a.logo:hover, .topnav a.icon:hover {
    background: var(--primary-color);
}

/* Footer style */

.page-footer {
    text-align: center;
    margin-top: auto;
}

.page-footer__item {
    margin-top: 0px;
    margin-bottom: 5px;
}

.page-footer__item--logos {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 30px;
}

#footer-resume {
    display: block;
    color: var(--bg-color__content);
    width: 105px;
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 0px;
}

/* Flexbox end */

/* start CSS grid Fallback */

.grid__item {
    display: inline-block;
    width: 33%;
}

/* end CSS grid Fallback */

/* CSS grid start */

@supports (display:grid) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--margin__default);
        margin: 0;
    }

    .grid__item {
        background-color: var(--grid-background);
        width: auto;
        min-height: auto;
        margin: 5px;
        padding: 5px;
    }

    .last-grid {
        margin-bottom: var(--margin__default);
    }

}

/* CSS grid end */

/* Table settings*/

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.table-category {
    padding-top: 30px;
}

.table-mobile {
    padding-top: 20px;
    line-height: 10px;
}

.table-mobile__title {
    padding-top: 30px;
}

td {
    border-bottom: 2px solid var(--shadow-color)
}

table.last-table {
    margin-bottom: 20px;
}

/* media queries start */

@media all and (min-width: 1380px) {
    .page-content {
        width: 900px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (max-width: 950px) {
    .page-content__work {
    width: 86%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    } 
}

@media all and (max-width:750px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 16px;
    }

    .page-content__picture {
        width: 150px;
    }

    #name, #contact-email, #your-message {
        width: 180px;
    }

    .page-header__item--nav {
        font-size: 16px;
    }
}

@media all and (max-width: 612px) {
    .wide-screen {
        display: none;
    }

    .mobile {
        display: block;
        justify-content: end;
    }

    .page-content {
        margin-top: 250px;
    }

    .page-header {
        display: block;
        height: 55px;
        padding: 0;
        margin: 0;
    }

    .topnav a.logo {
        width: 45px;
        height: 45px;
        margin: 0;
        margin-top: 4px;
        margin-left: 10px;
        padding: 0;
    }

    .last-menu__item {   
        border-bottom: 2px solid var(--shadow-color);
    }

    .topnav a.active{
        background: var(--text-color__menu--active);
        color: var(--text-color__default);
    }

    .logo-mobile {
        margin: 0;
        margin-top: 3px;
        padding: 0;
        height: 40px;
    }
}

@media all and (max-width: 550px) {
    .page-content__text--header {
        font-size: 18px;
    }

    .page-content__text {
        font-size: 12px;
    }

    .page-content {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 1%;
        padding-right: 1%;
        width: 88%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:500px) {

    .page-content__picture {
        max-width: 120px;
    }
}

@media all and (max-width:450px) {
    body {
        font-size: 12px;
    }
}

@media all and (max-width: 373px) {
    .page-content__text--header {
        font-size: 16px;
    }

    .page-content__text {
        font-size: 11px;
    }

    .page-content__picture {
        width: 100px;
    }
}

@media all and (max-width: 380px) {
    body {
        margin: 0;
    }

    .page-content {
        margin-left: 0px;
        margin-right: 0px;
        border: none;
        width: 100%;
        text-align: start;
    }

    .about-me {
        margin-left: 1px;
    }

    ul.about-me li {
        margin-left: -40px;
    }

    .about {
        text-align: center;
    }

    li {
        margin-left: -25px;
    }
}

@media all and (max-width: 330px) {
    .mobile-with-zoom {
        display: inline-block;
    }

    .mobile-without-zoom {
        display: none;
    }
}

@media all and (max-width: 280px) {
    .page-content {
        padding-left: 5px;  
    }
    
    .page-content__picture {
        display: flex;
        float: none;  
    }
}
/* media queries end */