$primary-color: #357b70;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighter: lighten($primary-color, 10%);

a {
    color: $primary-color;
}

.bg-darker {
    background-color: $primary-color-darker;
}

.bg-lighter {
    background-color: $primary-color-lighter;
}