/*
colors used

text color (dark grey): #2b2b2b;
primary color (purple): #357b70
secondary color (orange): #e0b354;
*/
body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #357b70
}

a:visited {
    color: #05676e
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: #489c79
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    /* adds spacing ot the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

.navigation-list__item--active {
    text-decoration: none;
}